<div class="navbar-lewagon navbar-collapse d-flex flex-column">
  <h1 style="color:white; font-weight: bold;">Welcome to the Open Bar</h1>
  <div class="btn btn-danger index">
    <%= link_to "Return index", cocktails_path  %>
  </div>
</div>
